* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	color: #000;
	font-size: 14px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000;
}
.main {
	background-color: #000;
	background-image: url("../img/tint.jpg");
	background-position: 50% 0;
	background-repeat: no-repeat;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.btn {
	margin-right: 20px;
	width: 140px;
	height: 43px;
	display: block;
	text-decoration: none;
	line-height: 43px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #000;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	line-height: 42px;
}
.main-header {
	height: 72px;
	background-color: #000;
}
.main-header .main-nav {
	float: left;
	height: 72px;
	line-height: 72px;
}
.main-nav .main-nav__list {
	list-style: none;
	font-size: 0;
}
.main-nav .main-nav__item {
	/*float: left;*/
	display: inline-block;
	margin: 0 30px 0 15px;
}
.main-nav .main-nav__link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.main-header .user-block {
	float: right;
	position: relative;
	height: 72px;
	line-height: 72px;
}
.main-header .user-block::before {
	content: "";
	display: block;
	position: absolute;
	width: 18px;
	height: 16px;
	top: 27px;
	right: 41px;
	background-image: url("../img/icon-login.png");
	background-repeat: no-repeat;
}
.main-header .login {
	color: #fff;
	text-decoration: none;
}



.features {
	color: #f7f4f1;
	margin-bottom: 80px;
}


.index-content {
	width: 940px;
	height: 420px;
	margin-bottom: 35px;
	padding: 55px 0 0;
	background-image: url("../img/main-block__background.jpg");
}
.index-content .container {
	width: 780px;
	margin: 0 auto;
}
.index-content .index-content-title {
	margin-bottom: 25px;
}
.index-content .news-preview {
	list-style: none;
	margin-bottom: 25px;
}
.index-content .news-preview li:first-child {
	margin-bottom: 20px;
}
.main {
}
.main .index-logo {
	padding-top: 60px;
	text-align: center;
}
.index-content .btn {
	display: inline-block;
}
.index-content .index-content-left {
	float: left;
	width: 380px;
}

.index-content .index-content-right {
	float: right;
	width: 300px;
}
.index-content .index-content-right p {
	margin-bottom: 20px;
}
.index-content-right .btn.gallery-next {
	margin-right: 0;
}
.index-content .index-content-left .adress {
	margin-bottom: 30px;
}
.index-content .index-content-left .operating-time {
	margin-bottom: 25px;
}

.index-content-right .gallery .gallery-content {
	margin-bottom: 40px;
	width: 297px;
	border: 5px solid #fff;
}
.index-content-right .gallery .gallery-content img {
	display: block;
}

.index-content .appointment-form input:-moz-placeholder,
.index-content .appointment-form input::-moz-placeholder {
	color: #000;
}
.index-content-right .appointment-form {
	width: 350px;
	height: 170px;
}
.index-content-right .appointment-form .appointment-form__input {
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	width: 140px;
	height: 43px;
	color: #000;
	background-color: #f9f6f3;
	border: 2px solid #000;
	color: #000;
}

.index-content-right .appointment-form .appointment-form__input[name="phone"],
.index-content-right .appointment-form .appointment-form__input[name="time"] {
	margin-right: 0;
}
.index-content-right .appointment-form .appointment-form__submit {
	width: 300px;
	height: 43px;
	margin-right: 0;
}

.features {
	text-align: center;
}
.features .features-name {
	text-align: center;
	margin-bottom: 70px;
}
.features .features-item {
	position: relative;
	width: 30%;
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.features .features-item::before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 45%;
	top: 52px;
	background-image: url("../img/rhomb.png");
	background-repeat: no-repeat;
}
.features .features-item p {
	font-size: 14px;
}



.main-footer {
	color: #fff;
	height: 193px;
	background-image: url("../img/footer-background.png");
}
.main-footer .footer-contacts {
	float: left;
}
.main-footer .footer-contacts a {
	color: #fff;
}
.main-footer .footer-social p {
	margin-bottom: 10px;
	text-align: center;
}
.main-footer .footer-copyright {
	float: right;
}
.main-footer .footer-copyright p {
	margin-bottom: 10px;
	text-align: center;
}
.main-footer .footer-copyright a {
	margin-right: 0;
}
.main-footer section {
	margin-top: 65px;
	display: inline-block;
	vertical-align: top;
}
