* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	color: #000;
	font-size: 14px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	line-height: 24px;
	font-weight: bold;
}
.main {
	background-image: url("../img/tint.jpg");
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}
.btn {
	width: 140px;
	height: 43px;
	display: block;
	text-decoration: none;
	line-height: 43px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #000;
}

h2 {
	font-size: 30px;
	line-height: 42px;
}
.main-header {
	height: 72px;
	background-color: #000;
}
.main-header .main-nav {
	float: left;
}
.main-nav .main-nav__list {
	list-style: none;
}
.main-nav .main-nav__item {
	/*float: left;*/
	display: inline-block;
}
.main-nav .main-nav__link {
	color: #fff;
	text-decoration: none;
}
.main-header .user-block {
	float: right;
}
.main-header .login {
	color: #fff;
	text-decoration: none;
}



.features {
	color: #f7f4f1;
}


.index-content {
	background-image: url("../img/main-block__background.jpg");
}
.index-content .btn {
	display: inline-block;
}
.index-content .index-content-left {
	width: 940px;
}
.index-content .index-content-right {
	width: 940px;
}

.index-content .appointment-form input:-moz-placeholder,
.index-content .appointment-form input::-moz-placeholder {
	color: #000;
}
.index-content-right .appointment-form {
	width: 300px;
	height: 170px;
}
.index-content-right .appointment-form .appointment-form__input {
	padding-left: 15px;
	width: 125px;
	height: 43px;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000;
	color: #000;
}
.index-content-right .appointment-form .appointment-form__submit {
	width: 300px;
	height: 43px;
}


















.main-footer {
	color: #fff;
	height: 193px;
	background-image: url("../img/footer-background.png");
}
.main-footer section {
	margin-top: 65px;
	display: inline-block;
	vertical-align: top;
}
